<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Forum Diskusi</h2>
        <div class="chat">
          <div class="empty-message">tidak ada pesan</div>
          <!-- <div class="message">
            <div class="name"><strong>Wahyu</strong></div>  
            <div class="text">Halo Semua</div>
          </div> -->
        </div>
        </div>
        <div class="form">
          <input type="text" name="input" id="input" class="input-message"/>
          <button class="submit">Kirim</button>
        </div>
      </div> 
    </div>
  </body>
  <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
  <script src="public/app.js"></script>
  </html>
